@mixin main_text {
    font-family: $title-font;
    font-weight: 600;
    color: $text-color;
    // color: red;
}
@mixin shadow{
    box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37),
        inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}

@mixin shadow-lb{
    box-shadow:  -6px -6px 16px rgba(78, 55, 55, 0.37),
    inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}
// @mixin main-page-block__title{
//     @include main_text;
//     font-size: 2em;
//     margin: 2rem auto;
// }

@mixin about_images_block {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-height: 500px;
    justify-items: center;
    align-items: center;
}

@mixin main-page_block_size {
    max-width: 1200px;
    max-height: 647px;
}

@mixin main-page_block_design {
    background-color: $cards-bg-color;
    border: none;
    border-radius: 1em;
    box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37),
        inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}

@mixin main-page_block_margins {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

@mixin info-block{
    max-width: 1200px;
    max-height: 647px;

    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

    background-color: $cards-bg-color;
    border: none;
    border-radius: 1em;
    box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37),
        inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}

@mixin main-page_block_card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    margin-left: 1rem;
    margin-right: 1rem;
    overflow-y: scroll;
}

@mixin main-page_block_card ($max-width: 250px, $min-width: 100px) {
    max-width: $max-width;
    min-width: $min-width;
    min-height: 250px;
    margin: 0.5rem;
    text-align: center;
    background-color: $cards-bg-color;
    border: none;
    color: $text-color;
}