@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&family=Roboto:ital,wght@0,300;0,400;1,300&family=Rubik&display=swap");
.header {
  display: grid;
  grid-template-columns: 5% 1fr 60%;
  align-items: center;
  min-height: 6rem;
  margin-bottom: 2%;
  padding: 0 6%;
}
.header__logo {
  width: 90%;
}
.header__title {
  margin-bottom: 0;
  margin-left: 1em;
  font-family: "Rubik", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #5E5E5E;
}
.header__title:hover {
  color: #FF4F55;
}
.header__title:active {
  color: #FF4F55;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav__item {
  padding: 0.7% 4%;
  font-family: "Rubik", sans-serif;
  font-size: 1.2em;
  border-radius: 10px;
  background-color: #5EC6C7;
}
.nav__item a {
  text-decoration: none;
  color: white;
}
.nav__item:last-child {
  background-color: #FF4F55;
}
.nav__item:hover {
  background-color: #4EB6B7;
  transform: scale(1.05);
}
.nav__item:hover:last-child {
  background-color: #FF4F55;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .header__title {
    font-size: 1.3rem;
  }
  .nav {
    font-size: 0.7em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    grid-template-columns: 5% 1fr 75%;
    font-size: 0.8rem;
  }
  .header__logo {
    width: 100%;
  }
  .header__title {
    align-self: center;
    width: 70%;
    margin-bottom: 0;
    margin-left: 5%;
    font-size: 0.9rem;
    line-height: 100%;
  }
  .nav {
    width: 100%;
  }
}
@media screen and (min-width: 321px) and (max-width: 767px) {
  .header {
    grid-template-columns: 15% 1fr 20%;
  }
  .header__logo {
    width: 100%;
  }
  .header__title {
    align-self: center;
    width: 40%;
    margin-bottom: 0;
    margin-left: 5%;
    font-size: 1rem;
    line-height: 100%;
  }
  .nav__item {
    margin-bottom: 5%;
    padding: 5%;
    text-align: center;
  }
  .nav__item:hover {
    padding: 8%;
  }
}
@media screen and (max-width: 320px) {
  .header {
    grid-template-columns: 15% 1fr 30%;
  }
  .header__logo {
    width: 100%;
  }
  .header__title {
    align-self: center;
    width: 40%;
    margin-bottom: 0;
    margin-left: 5%;
    font-size: 0.7rem;
    line-height: 100%;
  }
  .nav__item {
    margin-bottom: 5%;
    padding: 5%;
    text-align: center;
  }
  .nav__item:hover {
    padding: 8%;
  }
}
.banner {
  display: grid;
  grid-template-columns: 40% 60%;
}
.banner__photo {
  width: 55%;
  justify-self: end;
  margin-top: 5%;
  border-radius: 50%;
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}

.banner-container {
  position: relative;
  width: 70%;
  height: 56%;
  margin-top: 20%;
  margin-left: 5%;
  padding: 5%;
  border: 2px solid #676666;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}
.banner-container__title {
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 130%;
  color: #5E5E5E;
}
.banner-container__title_vivid {
  color: #FF4F55;
}
.banner-container__slogan {
  margin: 5% auto 12% auto;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  color: #5E5E5E;
}

.banner-btn {
  position: absolute;
  top: 77%;
  left: 55%;
  width: 50%;
  padding: 1.5% 8%;
  border-radius: 10px;
  border: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: #FF4F55;
}
.banner-btn a {
  text-decoration: none;
  color: white;
}
.banner-btn:hover {
  background-color: #FF4F55;
  transform: scale(1.05);
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}
.banner-btn:hover .arrow {
  transform: translateX(3em);
}

@media screen and (max-width: 1440px) {
  .banner {
    min-height: 650px;
  }
  .banner__photo {
    width: 90%;
  }
  .banner-container {
    padding: 10% 10%;
  }
  .banner-container__about {
    padding: 1.5% 6%;
    font-size: 1.3em;
  }
  .banner-container__title {
    font-size: 1.8rem;
    line-height: 150%;
  }
}
@media screen and (max-width: 1300px) {
  .banner-container {
    padding: 7% 8%;
  }
  .banner-container__title {
    font-size: 1.6rem;
  }
  .banner-container__about {
    width: 40%;
    padding: 1.5% 6%;
    font-size: 1.2em;
  }
  .banner__photo {
    width: 95%;
  }
}
@media screen and (max-width: 1023px) {
  .banner-container {
    padding: 10%;
  }
  .banner-container__title {
    font-size: 1.3rem;
  }
  .banner-container__slogan {
    font-size: 1rem;
  }
  .banner-container__about {
    width: 40%;
    font-size: 1rem;
  }
  .banner__photo {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .banner {
    display: flex;
    margin-top: 3%;
    background-image: url(../img/photo_banner.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .banner__photo {
    display: none;
  }
  .banner-container {
    margin-top: 70%;
    margin-right: auto;
    margin-left: auto;
    padding: 4%;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(230, 230, 250, 0.5843137255);
  }
  .banner-container__title {
    font-size: 1.2rem;
    color: #454545;
  }
  .banner-container__title_vivid {
    color: #ff1c24;
  }
  .banner-container__slogan {
    margin: 5%;
    font-size: 0.9rem;
    color: #454545;
  }
  .banner-container__about {
    width: 40%;
    margin: auto;
    padding: 1.5% 5%;
    font-size: 1.2em;
  }
}
@media screen and (max-width: 320px) {
  .banner {
    display: flex;
    background-image: url(../img/photo_banner.png);
    background-size: 99%;
    background-repeat: no-repeat;
  }
  .banner__photo {
    display: none;
  }
  .banner-container {
    width: 100%;
    margin-top: 70%;
    padding: 4%;
    border-radius: 15px;
    text-align: center;
    background-color: rgba(230, 230, 250, 0.5843137255);
  }
  .banner-container__title {
    font-size: 0.8rem;
    color: #454545;
  }
  .banner-container__title_vivid {
    color: #ff1c24;
  }
  .banner-container__slogan {
    margin-bottom: 3%;
    font-size: 0.7rem;
    color: #454545;
  }
  .banner-container__about {
    width: 100%;
    margin: auto;
    padding: 3% 5%;
    font-size: 0.7rem;
  }
}
.card {
  max-width: 250px;
  min-width: 100px;
  min-height: 250px;
  margin: 0.5rem;
  text-align: center;
  background-color: rgba(236, 229, 229, 0.37);
  border: none;
  color: #5E5E5E;
}
.card__img-top {
  max-height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-body {
  min-height: 200px;
  padding: 1rem 1rem 0;
}
.card__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #5E5E5E;
}
.card__text {
  margin-top: 15%;
  font-family: "Rubik", sans-serif;
  color: #5E5E5E;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #FF9190;
  --bs-btn-border-color: #FF9190;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #FF4F55;
  --bs-btn-hover-border-color: #FF4F55;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #FF4F55;
  --bs-btn-active-border-color: #FF4F55;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #FF4F55;
  --bs-btn-disabled-border-color: #FF4F55;
}
.btn-primary_sp {
  margin: 1em;
  border: none;
  font-family: "Rubik", sans-serif;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .card-body {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .card-text,
  .card-title {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card {
    min-height: 150px;
    margin: 0.7rem;
  }
  .card-body {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .card-text, .card-title {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .card {
    max-width: 150px;
    margin: 0.5rem;
  }
  .card-body {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .card-text, .card-title {
    display: none;
  }
}
@media screen and (max-width: 424px) {
  .card {
    min-height: 80px;
    margin: 0.2rem;
  }
  .card-img-top {
    max-width: 120px;
  }
  .card-body {
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
}
.info-block {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  background-color: rgba(236, 229, 229, 0.37);
  border: none;
  border-radius: 1em;
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}
.info-block_video {
  max-height: 750px;
}
.info-block__title {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #5E5E5E;
  margin: 2rem auto 1em;
  font-size: 2em;
}
.info-block__video {
  max-width: 90%;
  margin: 1em auto;
  border: none;
  border-radius: 1em;
}

.info-block-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
}
.info-block-container::-webkit-scrollbar {
  display: none;
}

.info-block-item {
  position: relative;
  width: 60%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}
.info-block-item__bg {
  width: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.info-block-item__label {
  position: absolute;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 2.5rem;
  padding-top: 0.3rem;
  padding-right: 3rem;
  padding-left: 3rem;
  background-color: #FF4F55;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
}
.info-block-item__label:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}
.info-block-item__label_top {
  top: 50%;
  left: 65%;
}
.info-block-item__label_middle {
  top: 65%;
  left: 65%;
}
.info-block-item__label_bottom {
  top: 80%;
  left: 65%;
}
.info-block-item__link {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #5E5E5E;
  font-weight: 500;
  font-size: 1.2em;
  color: #FFFFFF;
}
.info-block-item__link:hover {
  color: #FFFFFF;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .info-block {
    max-width: 95%;
    max-height: 460px;
  }
  .info-block__title {
    margin: 1rem auto;
    font-size: 1.8em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .info-block {
    max-width: 95%;
    max-height: 427px;
  }
  .info-block__title {
    margin: 0.8rem auto;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 767px) {
  .info-block-container {
    flex-direction: column;
    align-items: center;
  }
  .info-block {
    max-width: 100%;
    max-height: 360px;
  }
  .info-block__title {
    margin: 0.8rem auto;
    font-size: 1.5em;
  }
}
@media screen and (max-width: 424px) {
  .info-block-container {
    flex-direction: column;
    align-items: center;
  }
  .info-block__title {
    font-size: 1em;
    margin: 0.8rem auto;
  }
  #training-materials {
    max-width: 100%;
    max-height: 260px;
  }
}
.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inner-wrapper {
  display: inherit;
  gap: 15%;
}

.inner-label {
  display: inherit;
  justify-content: flex-end;
  width: 40%;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0.8rem 3rem;
  background-color: #4EB6B7;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
.inner-label:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}
.inner-label__title {
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #5E5E5E;
  font-size: 1.5em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.video-item {
  position: relative;
  width: 290px;
  height: 400px;
}
.video-item__bg {
  width: 100%;
  height: 100%;
  box-shadow: -6px -6px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}
.video-item__label {
  position: absolute;
  width: 10rem;
  height: 2.5rem;
  padding-top: 0.3rem;
  background-color: #FF4F55;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
}
.video-item__label:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}
.video-item__label_top {
  top: 50%;
  left: 60%;
}
.video-item__label_bottom {
  top: 65%;
  left: 60%;
}
.video-item__link {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #5E5E5E;
  font-weight: 500;
  font-size: 1.2em;
  color: #FFFFFF;
}
.video-item__link:hover {
  color: #FFFFFF;
}

.self-training,
.tests,
.presentations {
  color: #5E5E5E;
  padding: 25px 6%;
}

.links__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  justify-items: center;
}

.training-material__title {
  color: #FF4F55;
  text-align: center;
  padding-bottom: 6%;
}

.nth-grade__category {
  width: 350px;
}

.training-material__link {
  text-decoration: none;
  color: #FF4F55;
  display: flex;
  flex-direction: column;
}

.training-material__link:hover {
  color: #5EC6C7;
}

.training-material__link:visited {
  color: #4EB6B7;
}

@media screen and (max-width: 767px) {
  .links__container {
    grid-template-columns: 1fr;
    justify-items: left;
  }
  .nth-grade__category {
    width: auto;
  }
}
/*education block*/
.main-page-education-block {
  margin-top: 2rem;
}

.main-page-education-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(236, 229, 229, 0.37);
  border: none;
  border-radius: 1em;
  box-shadow: 4px 4px 16px rgba(78, 55, 55, 0.37), inset 0px 4px 16px rgba(255, 255, 255, 0.503);
}

.edu-card {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: 0.5fr 1fr;
  margin: 0.7rem 2rem 2rem;
}
.edu-card__img {
  grid-row: 1/3;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  max-height: 120px;
  border-radius: 50%;
}
.edu-card__univers {
  grid-row: 1/2;
  grid-column: 2/4;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #5E5E5E;
}
.edu-card__years {
  grid-row: 2/3;
  grid-column: 2/3;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #5E5E5E;
}
.edu-card__prof {
  grid-row: 2/3;
  grid-column: 3/4;
  font-family: "Rubik", sans-serif;
  color: #5E5E5E;
}

@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .main-page-education-container {
    max-width: 95%;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .edu-card__img {
    max-height: 100px;
  }
}
@media screen and (max-width: 767px) {
  .main-page-education-container {
    max-width: 100%;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .edu-card {
    margin: 0.5rem 2rem;
  }
  .edu-card__prof {
    font-size: 0.8em;
  }
  .edu-card__img {
    display: none;
  }
  .edu-card__univers {
    grid-row: 1/2;
    grid-column: 2/4;
    font-size: 1em;
    text-align: center;
  }
  .edu-card__years {
    grid-row: 1/2;
    grid-column: 1/2;
    font-size: 1em;
    text-align: center;
  }
  .edu-card__prof {
    grid-row: 2/3;
    grid-column: 1/4;
    text-align: left;
  }
}
@media screen and (max-width: 424px) {
  .edu-card__prof {
    font-size: 0.7em;
  }
  .edu-card__univers, .edu-card__years {
    font-size: 0.7em;
  }
}
/* footer */
.footer {
  min-height: 250px;
  padding-top: 30px;
  background: #5EC6C7;
}
.footer__title {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
.footer__menu-link {
  color: rgb(234, 239, 242);
}
.footer__menu-link:hover {
  color: #394C7D;
}
.footer__menu-link:visited {
  color: #d1eef4;
}
.footer__content {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}
.footer__content_dzen {
  width: 18.5%;
}
.footer__content-link {
  text-decoration: none;
  color: #394C7D;
}

a {
  text-decoration: none;
}

.logo-container {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  max-width: 20%;
  max-height: 4rem;
  margin-right: auto;
  margin-left: auto;
}
.logo-container__img {
  max-width: 50px;
  margin-left: auto;
}
.logo-container__title {
  margin: auto;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #5E5E5E;
}

.media-container {
  margin-bottom: 45px;
}

@media screen and (min-width: 1024px) and (max-width: 1450px) {
  .logo-container {
    grid-template-columns: 0.5fr 2fr;
    max-width: 40%;
    max-height: 2rem;
    margin-bottom: 1em;
  }
  .logo-container__img {
    max-width: 40px;
  }
  .logo-container__title {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__title {
    text-align: center;
  }
  .footer__content {
    text-align: center;
  }
  .footer-information__link {
    text-align: center;
  }
  .logo-container {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .footer__title {
    text-align: center;
  }
  .footer__content {
    text-align: center;
  }
  .footer-information__link {
    text-align: center;
  }
  .footer__menu {
    text-align: center;
  }
  .logo-container {
    display: none;
  }
}
.about__img {
  grid-column: 2/3;
  max-height: 800px;
  margin-right: 5em;
  margin-left: auto;
  border-radius: 30px;
}

.about__title {
  margin: 5%;
  text-align: center;
}

.about__container {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 10%;
}

.about__text {
  grid-column: 3/4;
}

.about__list {
  font-size: 1.5rem;
  list-style-position: outside;
  list-style-image: url(../img/square_about.png);
}

.about__title_teacher {
  margin-left: 5%;
  color: #FF4F55;
}

.about__list_li {
  margin-bottom: 1rem;
}

/*gallery*/
.about__photo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-height: 500px;
  justify-items: center;
  align-items: center;
  grid-area: "photo_content";
  margin-top: 10%;
  margin-bottom: 5%;
  grid-template-areas: "about__photo_1 about__photo_2 about__photo_3 about__photo_4 about__photo_5 about__photo_6";
}
.about__photo_1 {
  grid-area: "about__photo_1";
  margin-left: 20px;
}
.about__photo_1:hover {
  transform: scale(2);
}
.about__photo_2 {
  grid-area: "about__photo_2";
}
.about__photo_2:hover {
  transform: scale(2);
}
.about__photo_3 {
  grid-area: "about__photo_3";
}
.about__photo_3:hover {
  transform: scale(2);
}
.about__photo_4 {
  grid-area: "about__photo_4";
}
.about__photo_4:hover {
  transform: scale(2);
}
.about__photo_5 {
  grid-area: "about__photo_5";
}
.about__photo_5:hover {
  transform: scale(2);
}
.about__photo_6 {
  grid-area: "about__photo_6";
}
.about__photo_6:hover {
  transform: scale(2);
}
.about__photo_1, .about__photo_2, .about__photo_3, .about__photo_4, .about__photo_5, .about__photo_6 {
  max-height: 280px;
  border-radius: 15px;
  transition: 1s;
}

.about__certificate {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-height: 500px;
  justify-items: center;
  align-items: center;
  grid-area: "certificate_content";
  margin: 5%;
  grid-template-areas: "about__certificate_1 about__certificate_2 about__certificate_3 about__certificate_4 about__certificate_5 about__certificate_6";
}
.about__certificate_title {
  text-align: center;
  text-transform: uppercase;
  color: var(--bs-heading-color);
}
.about__certificate_1 {
  grid-area: "about__certificate_1";
  transition: 1s;
}
.about__certificate_1:hover {
  transform: scale(2.5);
}
.about__certificate_2 {
  grid-area: "about__certificate_2";
}
.about__certificate_2:hover {
  transform: scale(2.5);
}
.about__certificate_3 {
  grid-area: "about__certificate_3";
}
.about__certificate_3:hover {
  transform: scale(2.5);
}
.about__certificate_4 {
  grid-area: "about__certificate_4";
}
.about__certificate_4:hover {
  transform: scale(2.5);
}
.about__certificate_5 {
  grid-area: "about__certificate_5";
}
.about__certificate_5:hover {
  transform: scale(2.5);
}
.about__certificate_6 {
  grid-area: "about__certificate_6";
}
.about__certificate_6:hover {
  transform: scale(2.5);
}
.about__certificate_1, .about__certificate_2, .about__certificate_3, .about__certificate_4, .about__certificate_5, .about__certificate_6 {
  max-height: 220px;
  transition: 1s;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about__list {
    font-size: 1rem;
  }
  .about__img {
    width: 100%;
  }
  .about__title_teacher {
    font-size: 1.4rem;
  }
  .about__photo,
  .about__certificate {
    overflow-x: scroll;
  }
  .about__photo::-webkit-scrollbar,
  .about__certificate::-webkit-scrollbar {
    display: none;
  }
  .about__photo_1:hover, .about__photo_2:hover, .about__photo_3:hover, .about__photo_4:hover, .about__photo_5:hover, .about__photo_6:hover,
  .about__certificate_1:hover,
  .about__certificate_2:hover,
  .about__certificate_3:hover,
  .about__certificate_4:hover,
  .about__certificate_5:hover,
  .about__certificate_6:hover {
    transform: scale(1);
  }
}
@media screen and (max-width: 767px) {
  .about__container {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
  }
  .about__list {
    font-size: 1rem;
  }
  .about__img {
    margin-bottom: 5%;
    width: 100%;
  }
  .about__photo,
  .about__certificate {
    overflow-x: scroll;
  }
  .about__photo::-webkit-scrollbar,
  .about__certificate::-webkit-scrollbar {
    display: none;
  }
  .about__photo_1:hover, .about__photo_2:hover, .about__photo_3:hover, .about__photo_4:hover, .about__photo_5:hover, .about__photo_6:hover,
  .about__certificate_1:hover,
  .about__certificate_2:hover,
  .about__certificate_3:hover,
  .about__certificate_4:hover,
  .about__certificate_5:hover,
  .about__certificate_6:hover {
    transform: scale(1);
  }
}
.wrapper {
  max-width: 80%;
  margin: auto;
  box-sizing: content-box;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */