/* footer */
.footer {
    padding-top: 30px;
    background: $footer-bg-color;
    min-height: 250px;

    &__title {
        font-family: $main-font;
        font-weight: 400;
    }

    &__menu-link {
        color: $footer__menu-link;
    }

    &__menu-link:hover {
        color: $footer__menu-link_hover;
    }

    &__menu-link:visited {
        color: $footer__menu-link_visited;
    }

    &__content {
        font-family: $main-font;
        font-weight: 300;

        &_dzen {
            width: 18.5%;
        }
    }

    &__content-link {
        text-decoration: none;
        color: $footer-information__link;
    }
}

a {
    text-decoration: none;
}

.logo-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    max-width: 20%;
    max-height: 4rem;
    margin-left: auto;
    margin-right: auto;

    &__img {
        max-width: 50px;
        margin-left: auto;
    }

    &__title {
        margin: auto;
        font-family: $main-font;
        font-size: 1.5rem;
        font-weight: 700;
        color: $text-color;
    }
}

.media-container{
    margin-bottom: 45px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .footer__title {
        text-align: center;
    }

    .footer__content {
        text-align: center;
    }

    .footer-information__link {
        text-align: center;
    }
}

@media screen and (max-width:767px) {
    .footer__title {
        text-align: center;
    }

    .footer__content {
        text-align: center;
    }

    .footer-information__link {
        text-align: center;
    }

    .footer__menu {
        text-align: center;
    }
}