.banner {
    display: grid;
    grid-template-columns: 40% 60%;
    // padding: 0 6%;

    // border: 2px solid $border-color;

    &__photo {
        width: 55%;
        justify-self: end;
        margin-top: 5%;

        border-radius: 50%;
        @include shadow;
    }
}

.banner-container {
    position: relative;
    width: 70%;
    height: 56%;
    margin-top: 20%;
    margin-left: 5%;
    padding: 5%;
    border: 2px solid $border-color;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    @include shadow;

    &__title {
        font-family: $title-font;
        font-size: 2.0rem;
        font-weight: 500;
        line-height: 130%;
        color: $text-color;

        &_vivid {
            // padding: 0;
            color: $vivid-warm-color;
        }
    }

    &__slogan {
        margin: 5% auto 12% auto;
        font-family: $main-font;
        font-size: 1.5rem;
        color: $text-color;
    }
}

.banner-btn {
    position: absolute;
    top: 280px;
    left: 450px;
    width: 50%;
    padding: 1.5% 8%;
    border-radius: 10px;
    border: none;

    font-family: $main-font;
    font-size: 1.5rem;
    text-align: center;

    background-color: $pastel-warm-color;

    a {
        text-decoration: none;
        color: white;
    }

    &:hover {
        background-color: $vivid-warm-color;
        transform: scale(1.05);
        @include shadow;

        .arrow {
            transform: translateX(3em);
        }
    }
}



@media screen and (min-width:1299px) and (max-width:1440px) {
    .banner {
        min-height: 650px;

        &__photo {
            width: 90%;
        }
    }

    .banner-container {
        padding: 10% 10%;

        &__about {
            padding: 1.5% 6%;
            font-size: 1.3em;
        }

        &__title {
            font-size: 1.8rem;
            line-height: 150%;
        }
    }
}

@media screen and (min-width:1024px) and (max-width:1300px) {
    .banner-container {
        padding: 7% 8%;

        &__title {
            font-size: 1.6rem;
        }

        &__about {
            width: 40%;
            padding: 1.5% 6%;
            font-size: 1.2em;
        }
    }

    .banner__photo {
        width: 95%;
    }
}

@media screen and (min-width:768px) and (max-width:1023px) {
    .banner-container {
        padding: 10%;

        &__title {
            font-size: 1.3rem;
        }

        &__slogan {
            font-size: 1rem;
        }

        &__about {
            width: 40%;
            font-size: 1rem;

        }
    }

    .banner__photo {
        width: 100%;
    }
}

@media screen and (min-width:321px) and (max-width:767px) {
    .banner {
        display: flex;
        margin-top: 3%;
        background-image: url(../img/photo_banner.png);
        background-size: 100%;
        background-repeat: no-repeat;

        &__photo {
            display: none;
        }
    }


    .banner-container {
        margin-top: 70%;
        margin-right: auto;
        margin-left: auto;
        padding: 4%;
        border-radius: 15px;
        text-align: center;
        background-color: #E6E6FA95;


        &__title {
            font-size: 1.2rem;
            color: darken($text-color, $amount: 10%);

            &_vivid {
                color: darken($vivid-warm-color, $amount: 10%);
            }
        }

        &__slogan {
            margin: 5%;
            font-size: 0.9rem;
            color: darken($text-color, $amount: 10%);
        }

        &__about {
            width: 40%;
            margin: auto;
            padding: 1.5% 5%;
            font-size: 1.2em;
        }
    }
}

@media screen and (max-width:320px) {
    .banner {
        display: flex;
        background-image: url(../img/photo_banner.png);
        background-size: 99%;
        background-repeat: no-repeat;


        &__photo {
            display: none;
        }
    }

    .banner-container {
        width: 100%;
        margin-top: 70%;
        padding: 4%;
        border-radius: 15px;

        text-align: center;

        background-color: #E6E6FA95;

        &__title {
            font-size: 0.8rem;

            color: darken($text-color, $amount: 10%);

            &_vivid {
                color: darken($vivid-warm-color, $amount: 10%);
            }
        }

        &__slogan {
            margin-bottom: 3%;
            font-size: 0.7rem;
            color: darken($text-color, $amount: 10%);
        }

        &__about {
            width: 100%;
            margin: auto;
            padding: 3% 5%;
            font-size: 0.7rem;
        }
    }
}